﻿@using Characters
@using System.Text
@{
    ViewData["Title"] = $"Pok{EACUTES.EACUTE_LITTLE}mon ROMs API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        @if (Environment.UserName.Contains("bglat"))
        {
            const string MY_NICKNAME = @"<code style=""color: #198842; font-size: 14.5px;"">Broccolini</code>";
            <h4>Welcome @Html.Raw(MY_NICKNAME)!</h4>
        }
        else
        {
            <h4>Welcome!</h4>
        }
    </div>
    <div id="textArtWrapper">
        <hr id="topLine" class="hr-top-shadow" />
        <marquee behavior="alternate" scrollamount="11">
            <pre id="textArt">@*Content inserted via jQuery*@</pre>
        </marquee>
        <hr id="bottomLine" class="hr-bottom-shadow" />
    </div>
    <div class="polaroid">
        <h2>About</h2>
        <div class="polaroid-description justify">
            @{ 
                StringBuilder apiTypeHtmlString = new StringBuilder();
                apiTypeHtmlString.Append("<span id=\"apiType\">");
                apiTypeHtmlString.Append("<span class=\"bold italic underline highlighted\">");
                apiTypeHtmlString.Append(".NET Core 2.2 Visual C# ");
                apiTypeHtmlString.Append("<span title=\"Representational State Transfer\" class=\"tooltip\">");
                apiTypeHtmlString.Append("RESTful");
                apiTypeHtmlString.Append("</span>");
                apiTypeHtmlString.Append(" Web ");
                apiTypeHtmlString.Append("<span title=\"Application Programming Interface\" class=\"tooltip\">");
                apiTypeHtmlString.Append("API");
                apiTypeHtmlString.Append("</span>");
                apiTypeHtmlString.Append("</span>");
                apiTypeHtmlString.Append("</span>");
            }
            <p id="aboutApi">This API is a&nbsp;@Html.Raw(apiTypeHtmlString.ToString()). It is used for a full-stack Pok&eacute;mon <span title="Read Only Memory" class="tooltip">ROM</span>s Web Application and is connected to an Microsoft <span title="Structured Query Language" class="tooltip">SQL</span> Server Database. Additionaly, this API transfers Pok&eacute;mon Game and ROM data, as well as the ROM files' download links to the front-end/client-side web page.</p>
        </div>
    </div>
    <div class="polaroid">
        <h2>Documentation</h2>
        <div class="polaroid-description">
            <p>Click <a href="/swagger" target="_self" title="Documentation generated by Swagger" class="html-action-link">here</a> for the <span id="apiName">@ViewData["API Name"]</span> Documentation.</p>
        </div>
    </div>
</div>