// _font-faces.scss

@charset 'UTF-8';

@import '../variables';

@font-face {
  font-family: 'Verdana';
  src: local('Verdana'), local('Verdana-Regular'), url($verdana-woff-url) format('woff'), url($verdana-woff2-url) format('woff2');
}

@font-face {
  font-family: 'Geneva';
  src: local('Geneva'), local('Geneva-Regular'), url($geneva-woff-url) format('woff'), url($geneva-woff2-url) format('woff2');
}

@font-face {
  font-family: 'Tahoma';
  src: local('Tahoma'), local('Tahoma-Regular'), url($tahoma-woff-url) format('woff'), url($verdana-woff2-url) format('woff2');
}
