// _scrollbar.scss

@charset 'UTF-8';

@import '../variables';

/*! CUSTOM SCROLLBAR ONLY WORKS IN WEBKIT BROWSERS (CHROME, OPERA, SAFARI) */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px $shadow-gray;
  border-radius: 10px;
  box-shadow: inset 0 0 6px $shadow-gray;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px $scollbar-shadow-gray;
  border-radius: 10px;
  &:hover {
    -webkit-box-shadow: inset 0 0 6px $scollbar-shadow-gray;
    background-color: $shady-gray;
    border-radius: 10px;
    box-shadow: inset 0 0 6px $scollbar-shadow-gray;
  }
  &:active {
    -webkit-box-shadow: inset 0 0 6px $scollbar-shadow-gray;
    background-color: $dark-gray;
    border-radius: 10px;
    box-shadow: inset 0 0 6px $scollbar-shadow-gray;
  }
}
