﻿@using Characters
@using System.Text
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <title>@ViewBag.Title</title>
        <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="~/lib/jquery/jquery-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="~/css/site.min.css" />
        <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery/jquery-ui.min.js"></script>
        <script src="~/js/site.min.js"></script> @*defer="defer"*@
    </head>
    <body>
        <!--[if IE]>
            <h1 style="font-family:Verdana,Geneva,Tahoma,sans-serif;font-style:italic;font-weight:bold;text-decoration:underline;text-align:center;color:#000000;background-color:#FFFF00;">This web page is not compatible with IE<br/>Please use another browser</h1>
        <![endif]-->
        <noscript>
            <h1 style="font-family:Verdana,Geneva,Tahoma,sans-serif;font-style:italic;font-weight:bold;text-decoration:underline;text-align:center;color:#000000;background-color:#FFFF00;">This site requires JavaScript<br/>Please enable JavaScript in your browser</h1>
        </noscript>
        <div data-name="page_container_wrapper_div">
            <header class="centered">
                <section>
                    <div>
                        @{
                            string imagePath = Url.Content("~/images/pokeball_icon.png");
                            StringBuilder pokeballIcon = new StringBuilder();
                            pokeballIcon.Append("<img ");
                            pokeballIcon.AppendFormat("alt=\"Pok{0}ball Icon\" ", EACUTES.EACUTE_LITTLE);
                            pokeballIcon.AppendFormat("src=\"{0}\" ", imagePath);
                            pokeballIcon.Append("class=\"pokeball-icon\" ");
                            pokeballIcon.Append("/>");
                        }
                        <span>@Html.Raw(pokeballIcon.ToString())</span>
                        <h1 id="titleHeading">@* content inserted via jQuery *@</h1>
                        <span>@Html.Raw(pokeballIcon.ToString())</span>
                    </div>
                </section>
            </header>
            <main class="centered">
                <section>
                    <div>
                        @* Main content gets rendered here *@
                        @RenderBody()
                    </div>
                </section>
            </main>
            <div><hr class="hr-repeat-pattern" /></div>
            <footer>
                <section>
                    <div class="footer-wrapper">
                        <div id="copyrightWrapper">
                            <p class="display-inline">&copy; @DateTime.Now.Year @ViewBag.creator</p>
                        </div>
                        <div id="clsBtnWrapper">
                            <button class="display-inline" type="button" id="clearLocalStorage" title="Clear Local Storage">CLS</button>
                        </div>
                    </div>
                </section>
            </footer>
        </div> <!-- end of page wrapper/container div -->
    </body>
</html>
