// _mixins.scss

@charset 'UTF-8';

@mixin responsive-width($min-width, $max-width, $width) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width) {
    width: $width;
  }
}

@mixin responsive-display($min-width, $max-width, $display) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width) {
    display: $display;
  }
}

@mixin responsive-grid($min-width, $max-width, $grid-row-gap, $grid-template-columns, $grid-template-rows) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width) {
    grid-row-gap: $grid-row-gap;
    grid-template-columns: $grid-template-columns;
    grid-template-rows: $grid-template-rows;
  }
}

@mixin responsive-flex($min-width, $max-width, $flex, $top-margin, $bottom-margin) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width) {
    flex: $flex;
    margin: $top-margin 0 $bottom-margin;
  }
}
