// _variables.scss

@charset 'UTF-8';

/* Colors */

// hex colors
$white: #FFF;
$black: #000;
$yellow: #FF0;
$crimson: #DC143C;
$firebrick: #B22222;
$almost-black: #333;
$light-gray: #DEE2E6;
$shady-gray: #D3D3D3;
$dark-gray: #808080;
$table-row-cell-gray: #F8F8F8;
$dodger-blue-css: #1E90FF;
$dodger-blue-real: #005A9C;
$shiny-grey: #DEE2E6;

// opacity colors
$scollbar-shadow-gray: rgba(0, 0, 0, 0.5);
$light-shadow-gray-1: rgba(0, 0, 0, 0.2);
$light-shadow-gray-2: rgba(0, 0, 0, 0.19);
$shadow-gray: rgba(0, 0, 0, 0.3);

/* URLs */

// image urls
$hr-pattern-url: '/assets/images/hr_pattern.png';

// font urls
$verdana-woff-url: '/assets/fonts/Verdana/Verdana.woff';
$verdana-woff2-url: '/assets/fonts/Verdana/Verdana.woff2';
$geneva-woff-url: '/assets/fonts/Geneva/Geneva.woff';
$geneva-woff2-url: '/assets/fonts/Geneva/Geneva.woff2';
$tahoma-woff-url: '/assets/fonts/Tahoma/Tahoma.woff';
$tahoma-woff2-url: '/assets/fonts/Tahoma/Tahoma.woff2';
