<tr>
  <td>{{rom.gameId}}</td>
  <td>{{rom.gameName}}</td>
  <td>{{rom.generation}}</td>
  <td>{{rom.region}}</td>
  <td><div class="description-wrap">{{rom.description}}</div></td>
  <td>{{rom.dateReleased.toString().replace('T00:00:00', '')}}</td>
  <td>{{rom.websiteUrl}}</td>
  <td>{{rom.platform}}</td>
  <td>{{rom.fileName}}</td>
  <td>
    <button type="button" class="btn btn-danger" (click)="onDelete(rom)" class="del">X</button>
    <button type="button" (click)="updateRom(rom)">Edit</button>
  </td>
</tr>
