﻿/* Global */

*,
::before,
::after {
    box-sizing: border-box !important;
}

/* Elements */

body {
    font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
}

div h2 {
    margin-bottom: 5px;
    padding-top: 1px;
}

.html-action-link, #titleHeading {
    display: inline-block;
}

/* Classes */

.centered {
    margin: 0 auto;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.highlighted {
    background-color: #FF0;
}

.footer-wrapper {
    margin-bottom: 2rem;
    padding-bottom: 1em;
}

.hr-bottom-shadow {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.hr-top-shadow {
    height: 12px;
    border: 0;
    box-shadow: inset 0 -12px 12px -12px rgba(0, 0, 0, 0.5);
}

.hr-repeat-pattern {
    height: 6px;
    background: url(../images/hr_pattern.png) repeat-x 0 0;
    border: 0;
    line-height: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

.tooltip {
    border-bottom: 1px dotted #333;
    cursor: alias;
}

.polaroid {
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 523px;
}

.polaroid-description {
    border-top: 0.2px solid rgb(200, 200, 200);
    padding: 8px;
}

.display-inline {
    display: inline;
}

.pokeball-icon {
    width: 18px;
    height: auto;
}

.justify {
    text-align: justify !important;
    padding-left: 21px;
    padding-right: 21px;
}

/* IDs */

#textArt {
    line-height: 13.4px;
}

#topLine {
    margin-bottom: -25px;
}

#bottomLine {
    margin-top: -17px;
}

#pokemonLogo {
    width: 150px;
    height: 92.3px;
    cursor: pointer;
    border-radius: 8px;
}

#clsBtnWrapper {
    float: right;
    margin-right: 18px;
}

#copyrightWrapper {
    float: left;
    margin-left: 18px;
}

@media only screen and (max-width: 352px) {
    #copyrightWrapper {
        width: 200px;
    }
}

#aboutApi {
    margin-bottom: 0;
    padding-bottom: 12px;
    display: inline-block;
}

#titleHeading {
    margin-bottom: 0;
    margin-top: 18px;
}


/* Custom Scrollbar */

/*! CUSTOM SCROLLBAR ONLY WORKS IN WEBKIT BROWSERS (CHROME, OPERA, SAFARI) */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); /* Transparent Black */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); /* Transparent Black */
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); /* Transparent Black */
    background-color: #D3D3D3; /* Very Light Gray */
}

::-webkit-scrollbar-thumb:active {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); /* Transparent Black */
    background-color: #808080; /* Gray */
}
