@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.polaroid {
    background-color: $white;
    // border-radius: 1px;
    box-shadow: 0 4px 8px 0 $light-shadow-gray-1, 0 6px 20px 0 $light-shadow-gray-2;
    margin: auto;
    width: 80vw;
}
