<form class="form center polaroid" (ngSubmit)="onSubmit()"[formGroup]="pokemonROMsForm"> 
          <fieldset>
            <legend id="addAndUpdateFormLegend" class="center">Add/Update Pok&eacute;mon ROM</legend>
            <div class="form-group">
              <label for="gameName">Game Name<sup>*</sup></label>
              <input formControlName="gameName" class="form-control" type="text" name="gameName" id="gameName" />
              <div *ngIf="GameName.touched && GameName.invalid" class="alert alert-danger">
                <div *ngIf="GameName.errors.required">Game Name is required.</div>
                <div *ngIf="GameName.errors.maxlength">
                  Game Name can only be {{maxLengths[1]}} characters at max
                  <br/>
                  Your current character count is {{GameName.value.length}}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="generation">Generation<sup>*</sup></label>
              <input formControlName="generation" class="form-control" type="text" name="generation" id="generation"/>
              <div *ngIf="Generation.touched && Generation.invalid" class="alert alert-danger">
                <div *ngIf="Generation.errors.required">Generation is required</div>
                <div *ngIf="Generation.errors.max">Generation must be in between or equal to 1 and 8</div>
                <div *ngIf="Generation.errors.min">Generation must be in between or equal to 1 and 8</div>
                <div *ngIf="Generation.errors.isNotNumber">Generation must be a number</div>
              </div>
            </div>
            <div class="form-group">
              <label for="region">Region<sup>*</sup></label>
              <input formControlName="region" class="form-control" type="text" name="region" id="region"/>
              <div *ngIf="Region.touched && Region.invalid" class="alert alert-danger">
                <div *ngIf="Region.errors.required">Region is required</div>
                <div *ngIf="Region.errors.maxlength">
                  Region can only be {{maxLengths[0]}} characters at max
                  <br/>
                  Your current character count is {{Region.value.length}}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="dateReleased">Date Released<sup>*</sup></label>
              <input formControlName="dateReleased" class="form-control" type="date" name="dateReleased" id="dateReleased"/>
              <div *ngIf="DateReleased.touched && DateReleased.invalid" class="alert alert-danger">
                <div *ngIf="DateReleased.errors.required">Date Released is required</div>
                <div *ngIf="DateReleased.errors.pattern">
                  Invalid Date (format)
                  <br/>
                  For HTML5 browsers, the format needs to be <span class="font-weight-bold">yyyy-mm-dd</span>
                  <br/>
                  For Non-HTML5 Browsers, the format needs to be <span class="font-weight-bold">dd-mm-yyyy</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="platform">Platform<sup>*</sup></label>
              <input formControlName="platform" class="form-control" type="text" name="platform" id="platform"/>
              <div *ngIf="Platform.touched && Platform.invalid" class="alert alert-danger">
                <div *ngIf="Platform.errors.required">Platform is required</div>
                <div *ngIf="Platform.errors.maxlength">
                  Platform can only be {{maxLengths[0]}} characters at max
                  <br/>
                  Your current character count is {{Platform.value.length}}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="websiteUrl">Website URL<sup>*</sup></label>
              <input formControlName="websiteUrl" class="form-control" type="url" name="websiteUrl" id="websiteUrl"/>
              <div *ngIf="WebsiteUrl.touched && WebsiteUrl.invalid" class="alert alert-danger">
                <div *ngIf="WebsiteUrl.errors.required">Website URL is required</div>
                <div *ngIf="WebsiteUrl.errors.isNotUrl">Website URL is not a valid URL</div>
                <div *ngIf="WebsiteUrl.errors.maxlength">
                  Website URL cannot be greater than {{maxLengths[3]}} characters
                  <br/>
                  Your current character count is {{WebsiteUrl.value.length}}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description<sup>*</sup></label>
              <textarea formControlName="description" name="description" id="description" class="form-control"></textarea>
              <div *ngIf="Description.touched && Description.invalid" class="alert alert-danger">
                <div *ngIf="Description.errors.required">Description is required</div>
                <div *ngIf="Description.errors.maxlength">
                  Description can only be {{maxLengths[4]}} characters at max
                  <br/>
                  Your current character count is {{Description.value.length}}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="coverArtImageUrl">Cover Art Image URL<sup>*</sup></label>
              <input formControlName="coverArtImageUrl" class="form-control" type="url" name="coverArtImageUrl" id="coverArtImageUrl"/>
              <div *ngIf="CoverArtImageUrl.touched && CoverArtImageUrl.invalid" class="alert alert-danger">
                <div *ngIf="CoverArtImageUrl.errors.required">Cover Art Image URL is required</div>
                <div *ngIf="CoverArtImageUrl.errors.isNotUrl">Cover Art Image Url is not a valid URL</div>
                <div *ngIf="CoverArtImageUrl.errors.maxlength">
                  Cover Art Image URL cannot be greater than {{maxLengths[3]}} characters
                  <br/>
                  Your current character count is {{CoverArtImageUrl.value.length}}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="downloadLink">Download Link<sup>*</sup></label>
              <input formControlName="downloadLink" class="form-control" type="url" name="downloadLink" id="downloadLink"/>
              <div *ngIf="DownloadLink.touched && DownloadLink.invalid" class="alert alert-danger">
                <div *ngIf="DownloadLink.errors.required">Download Link URL is required</div>
                <div *ngIf="DownloadLink.errors.pattern">Download Link is not a valid URL</div>
                <div *ngIf="DownloadLink.errors.maxlength">
                  Download Link URL cannot be greater than {{maxLengths[3]}} characters
                  <br/>
                  Your current character count is {{DownloadLink.value.length}}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="fileName">File Name<sup>*</sup></label>
              <input formControlName="fileName" class="form-control" type="text" name="fileName" id="fileName"/>
              <div *ngIf="FileName.touched && FileName.invalid" class="alert alert-danger">
                <div *ngIf="FileName.errors.required">File Name is required</div>
                <div *ngIf="FileName.errors.maxlength">
                  File Name can only be {{maxLengths[2]}} characters at max
                  <br/>
                  Your current character count is {{FileName.value.length}}
                </div>
              </div>
            </div>
          </fieldset>
          <input type="submit" value="Submit" class="btn btn-success" [disabled]="addRomBtnDisabled()"/>
</form>