<app-add-rom (addRom)="addRom($event)"></app-add-rom>

<table class="table table-bordered table-responsive" >
  <app-rom-item *ngFor="let rom of roms" [rom]="rom" (deleteRom)="deleteRom($event)"></app-rom-item>
</table>
<div [class]="connectionMsgClasses" *ngIf="!isConnected" [innerHTML]="connectionMsg"></div>
<div *ngIf="!dataExists() && isConnected" class="alert alert-primary alert-msg-small center">No ROMs in Database</div>
